In [1]:
import pandas as pd

In [3]:
data= pd.read_csv("../duplicates.csv")
data= data.iloc[:,1:3].copy(deep=True)
data.head()

     questId                                         requestIds
0   11003790  ['VFmrUqSRyq5wTMZhtFu3V5_Q', '9DYfpjRxdoegUob5...
1   10561171  ['RgGJFDUL3v3w4ctMG6WqEy_Q', 'ZV5wWWpgk8fNQqCu...
2    7924535  ['bxVtWmgBQjJaYdyr9ZQiZt_M', 'oWUKo2DGG4QAoMxL...
3  220122811  ['iCsCmpqA5XTQND6NwkkHe2_Q', 'dBTWHLwUbFC67LJt...
4  221109474                       ['1414967_WM', '1421282_WM']